<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
    <link rel="stylesheet" href="/static/style.css"> 
    <link rel="icon" href="/favicon.png" type="image/png">
</head>
<body>
    <h1>Product_list</h1>
    <a href="{{ url_for('routes.add_product') }}">Add Product</a>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>                               <!-- СПисок полів  -->
            <th>Description</th>
            <th>Price</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Stock</th>
            <th>is_active</th>
            <th>Category</th>
            <th>Rating</th>
            <th>Sale</th>
            <th>EDIT</th>
        </tr>
       {% for product in products %}
        <tr>
            <th>{{ product.id }}</th>
            <th>{{ product.name }}</th>
            <th>{{ product.description }}</th>
            <th>{{ product.price }}</th>
            <th>{{ product.created_at }}</th>
            <th>{{ product.updated_at }}</th>
            <th>{{ product.stock }}</th>
            <th>{{ product.is_active }}</th>
            <th>{{ product.category }}</th>     
            <th>{{ product.rating }}</th>
            <th>{{ product.sale }}</th>
            <th>
                <a href="{{ url_for('routes.update_product', product_id=product.id) }}">Edit</a>
                <form action="{{ url_for('routes.delete_product', product_id=product.id) }}" method="post" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </th>

            
        </tr> 
       {% endfor %}
    </table>
</body>
</html>

